<div class="container-fluid">
  <h1 class="jumbotron bg-info text-white text-center">
    <i class="fas fa-quote-left"></i> Welcome to Quotes! <i class="fas fa-quote-right"></i>
  </h1>
  <div class="row">
    <div class="col-md-6">
      <h3 class="">Quotes for the Day:</h3>
      <div class="list-group">
        <ul>
          <!-- <div class="list-group-item" *ngFor='let goal of goals; let i = index'>
            <li>{{goal.name}} due on {{goal.completeDate|date|uppercase}}</li>
            <button class="btn btn-outline-info" (click)='toggleDetails(i)'>Toggle Details</button>
            <app-goal-detail *ngIf='goal.showDescription' [goal]='goal' (isComplete) = 'deleteGoal($event,i)'></app-goal-detail>
          </div> -->
        </ul>
      </div>
    </div>

    <div class="col-md-6">
    <app-quote-form></app-quote-form>
    </div>

  </div>


</div>
